* {
  margin: 0 auto;
}
.glow {
  animation-name: divGlow;
  animation-duration: 1s;
  animation-delay: 0.2s;
}
@keyframes divGlow {
  from {
    background-color: default;
  }
  50% {
    opacity: 0.5;
  }
  to {
    background-color: default;
  }
}
body {
  background-color: black;
  color: white;
}
.heading {
  display: flex;
  align-items: center;
}

.simonDiv {
  background-color: black;
  border-radius: 87px 87px 0 0;
  height: 87px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.simonDiv h1 {
  color: rgb(177, 168, 168);
  font-size: 3em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.gameControlDiv {
  border-radius: 0 0 87px 87px;
  height: 87px;
  width: 200px;
  margin-top: 28px;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(177, 168, 168);
}
.scoreboard {
  flex: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hiScore {
  flex: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.gameControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.gameControls button {
  flex: none;
  width: 40px;
  height: 25px;
  border-radius: 5px;
  margin: 0px 13px 0 13px;
  border: 1px solid rgb(177, 168, 168);
  color: white;
}

.start {
  background-color: green;
}

.clear {
  background-color: red;
}

.toggle-display {
  display: none;
}

.toggle-display.is-visible {
  display: block;
}

.display-toggle {
  display: none;
}

.display-toggle.is-visible {
  display: block;
}
.gameboardParentDiv {
  position: relative;
  height: 550px;
  width: 550px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: rgb(177, 168, 168);
}
.scoreContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.turnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.parentDiv {
  position: absolute;
  margin: 30px;
  width: 230px;
  height: 230px;
}
#turnIndicator {
  flex: none;
}

.middle {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 173px;
  right: 175px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  z-index: 2;
  background-color: rgb(177, 168, 168);
}

#greenParentDiv p {
  position: absolute;
  right: 0;
  bottom: 0;
}
#redParentDiv p {
  position: absolute;
  left: 0;
  bottom: 0;
}
#yellowParentDiv p {
  position: absolute;
  right: 0;
  top: 0;
}
#redParentDiv {
  background-color: red;
  top: 0;
  right: 0;
  border-radius: 0 100% 0 0;
}

#redParentDiv:active {
  animation: divGlow;
}
#blueParentDiv {
  background-color: blue;
  right: 0;
  bottom: 0;
  border-radius: 0 0 100% 0;
}
#blueParentDiv:active {
  animation: divGlow;
}
#greenParentDiv {
  background-color: green;
  top: 0;
  left: 0;
  border-radius: 100% 0 0 0;
}
#greenParentDiv:active {
  animation: divGlow;
}
#yellowParentDiv {
  background-color: yellow;
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 100%;
}
#yellowParentDiv:active {
  animation: divGlow;
}
